# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local

# Base de données
*.sqlite
*.db

# Système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/
*.log

# Build
dist/
build/

# OS
Desktop.ini
Thumbs.db
.DS_Store

# Répertoires spécifiques
backend/node_modules/
frontend/node_modules/